@import url('https://fonts.googleapis.com/css2?family=Jaini&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    font-family: "Jaini", system-ui;
    scroll-behavior: smooth;
}

:root {
    --black-color: #1e1c1c;
    --white-color: #f7f7f7;
}

img,
button,
iframe,
a {
    user-select: none;
}

.slidein {
    animation: slideAnimation 1s ease var(--slidein-delay, 0) forwards;
}

@keyframes slideAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navUnderLine {
    position: relative;
    padding: 0 2px;
    cursor: pointer;
}

.navUnderLine::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #dd572d;
    transition: 200ms all;
}

.navUnderLine:hover::before {
    width: 100%;
}

.fadeIn {
    animation: fadeIn .8s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fastFadeIn {
    animation: fadeIn 0.5s;
}

@keyframes fastFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.yellow {
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    font-weight: 400;
    font-family: Jaini, sans-serif;
    line-height: 1.2;
    background: linear-gradient(rgb(255, 246, 0) 44.7%, rgb(255, 174, 0) 62.66%, rgb(255, 226, 78) 92.6%) text;
    -webkit-text-fill-color: transparent;
    transition: 500ms all;
    text-align: center;
}